[submodule "CTF-challenges/sql-injection-challenge"]
	path = CTF-challenges/sql-injection-challenge
	url = https://github.com/KiPhuong/sql-injection-challenge.git
[submodule "CTF-challenges/invisible-admin-panel"]
	path = CTF-challenges/invisible-admin-panel
	url = https://github.com/KiPhuong/invisible-admin-panel.git
[submodule "CTF-challenges/web-ctf"]
	path = CTF-challenges/web-ctf
	url = https://github.com/KiPhuong/web-ctf.git
[submodule "PoC-CVEs/cve-2025-5025"]
	path = PoC-CVEs/cve-2025-5025
	url = https://github.com/KiPhuong/cve-2025-5025.git
